# dependencies
/client/node_modules
/client/package-lock.json
/client/semanticUI

/server/package-lock.json
/server/node_modules

/.idea

# production
/client/dist

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local