@import "../const";


.WrapperAccount{
  width: 75%;
  position: relative;
  margin: 25px 0 50px 0;

  .Account, .ViewUser{
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 25px;
    background-color: $accentColorMain;
    position: relative;
    box-shadow: 10px 10px 5px 0px #495867 !important;

    &> .myPage{
      width: 100%;
      display: flex;
      width: max-content;
      margin: 0 auto;

      .field{
        position: relative;

        & input{
          background-color: #ffe3aa;
        }

        .label{
          width: 30%;
          margin-left: 35%;
          text-align: center;
          background-color: $textColor-1;
        }
      }
    }

    .middle{
      margin-top: 15px;
      width: 70%;
    }
    .infoUserBox{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-size: 1.2rem;
      justify-content: flex-end;
    }
    .age, .gender{
      width: 15%;
      position: relative;
    }
    .additionally{
      width: 70%;
      margin-top: 25px;
      display: flex;
      flex-direction: row-reverse;
    }
    .nameBox{
      width: 70%;
      position: relative;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      & div{
        width: 100%;
      }
      & div:first-child{
        .label{
          width: 30%;
          text-align: center;
          margin-left: 35%;
          background-color: $textColor-1;
        }
        margin-right: 10px;
      }
    }
    .age {
      input[name=age] {
        height: 50px;
      }
      .label{
        border-color: $textColor-1
      }
    }
    .gender{
      height: 50px;
      margin-right: 25px;

      .icon{
        font-size: 22px;
      }
      .label{
        border-color: $textColor-1;
      }
      .segment{
        margin: 0;
        border: none;
        background-color: #ffe3aa;
      }
    }
    .surname, .first, .middle{
      position: relative;
      right: 0;
      .ribbon{
        background-color: $textColor-1 !important;
        position: relative;
        & .label {
          background-color: $textColor-2 !important;
        }
      }
      & .label{
        width: 35%;
      }
    }
    .mail{
      margin-top: 25px;
      position: relative;
      width: 70%;
      margin-left: auto;
      .ribbon{
        background-color: $textColor-1 !important;
        position: relative;
        & .label {
          background-color: $textColor-2 !important;
        }
      }
      & .label{
        width: 35%;
      }
    }
    .photo{
      position: absolute;

      .avatarBox{
        position: relative;

        input[type=file]{
          width: content-box;
          position: absolute;
          height: 100%;
          cursor: pointer;
          opacity: 0;
          z-index: 9;
        }
        & img{
          max-height: 300px;
          width: 300px;
          border-radius: 25px;
        }
      }
    }
    .btnSave{
      width: 33%;
      margin-right: auto;
    }
    .mode{
      position: absolute;
      height: max-content;
      border-radius: 15px;
      & .segment {
        cursor: pointer;
        width: max-content;
        height: max-content;
        background-color: $textColor-1;
      }

    }
    .AccountForm{
      display: flex;
      align-self: center;
    }
  }
  .NewPost{
    position: relative;
    border-radius: 25px;
    margin-top: 25px;
    padding: 10px;
    background: $accentColorMain;
    margin-bottom: 25px;
    box-shadow: 10px 10px 5px 0px #495867 !important;
    .aside{
      position: absolute !important;
      left: 50px;
    }

    textarea{
      height: 9rem !important;
      max-height: 15rem;
      background-color: #ffe3aa;
    }
    .titlePost{
      position: relative;
      font-size: 25px;
    }
    .photo{
      position: absolute;
      top: 130px;
      left: 25px;

      .avatarBox{
        position: relative;

        .btnUploadPhotos{
          width: 50px;
          height: 50px;
          color: white;
          background: #833668;


          & .photo {
            left: -5px;
            top: 5px;
            font-size: 33px;
            position: relative;
          }
        }
        input[type=file]{
          width: 50px;
          position: absolute;
          height: 100%;
          cursor: pointer;
          opacity: 0;
          z-index: 9;
        }
      }
    }
    .comments{
      margin: 0 auto;
      max-width: 90%;
    }
    .author{
      color: $textColor-1 !important;
      position: relative;
      right: 90px;
    }
    .sendPost{
      position: absolute;
      right: 25px;
      height: 125px;
      width: 50px;
      color: white;
      background: #833668;
      top: 55px;
      i {
        font-size: 30px;
        position: relative;
        right: 8px;
      }
    }
    .titlePost{
      color: $textColor-1;
    }
    .comment{
      margin-bottom: 25px;
      position: static;
    }
    .form{
      right: 25px;
    }
    .avatar{
      top: 50px;
      left: 25px;
      width: 50px !important;
    }
  }
}

.Posts{
  background: $accentColorMain;
  padding: 25px;
  border-radius: 25px;
  position: relative;
  box-shadow: 10px 10px 5px 0px #495867 !important;

  .Post{
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
    border-radius: 25px;
    background: #ffe3aa;
    &:last-child{
      margin-bottom: 50px;
    }
    .deletePost{
      position: absolute;
      right: 25px;
      &:hover::after{
        content: 'Delete post?';
      }
      &:hover::after .deletePost{
        background: green;
      }
    }

    .date{
      position: absolute;
      right: 25px;
    }
  }
}