@import "../const";

.SearchPeople{
  width: 75%;
  max-height: content-box;
  display: flex;
  margin: 25px 0 50px 0;
  padding: 0 50px 0 50px;
  border-radius: 25px;
  background-color: $accentColorMain;
  position: relative;
  overflow-y: scroll;
  box-shadow: 10px 10px 5px 0px #495867 !important;


  .SearchInputBlock{
    width: 100%;
    .search_input{
      font-size: 1.5rem;
      margin-top: 25px;
      & input{
        font-size: 1.5rem;
        font-weight: bold;
        background: #ffe3aa;
      }
      .icon{
        color: black;
      }
    }
  }
  .ListUser{
    font-size: 1.5rem;
    color: black;
    background: #ffe3aa;
    border-radius: 25px;


    .ListItem{
      width: 100%;
      height: 100px;
      position: relative;
      padding: 25px;
      align-items: center;
      &:first-child {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
      &:last-child {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      &:hover{
        cursor: pointer;
        position: relative;
        background-color: #dd4b39;
      }
      .ItemActions{
        margin-left: auto;
      }
      .content{
        align-self: center;
        margin-left: 50px;

        .age{
          margin-top: 20px;
        }
      }
      .feed-row{
        display: flex;
      }

      .gender{
        margin-left: 25px;
        font-size: 2rem;
      }
    }
  }
  .photoBox{
    height: auto;
    bottom: 10px;
    width: max-content;
    position: relative;

    .ItemImg{
      width: 75px !important;
      height: auto !important;
      border-radius: 50%;
    }
  }

}

