@import "../const";

.ViewUser{
  width: 75%;
  max-height: 75%;
  display: flex;
  padding: 50px;
  margin: 25px 0 50px 0;
  border-radius: 25px;
  background-color: $accentColorMain;
  position: relative;
  box-shadow: 10px 10px 5px 0px #495867 !important;



  .backBox{
    height: 50px;
    left: 10px;
    top: 10px;
    position: absolute;

    .back{
      color: white;
      background: $btnPrimaryColor;
    }
  }
}