@import "../const";

.ViewUser{
  width: 75%;
  max-height: max-content !important;
  display: flex;
  padding: 50px;
  margin: 25px 0 50px 0;
  border-radius: 25px;
  background-color: $accentColorMain;
  position: relative;
  box-shadow: 10px 10px 5px 0px #495867 !important;


  .field{
    position: relative;

    & input{
      background-color: #ffe3aa !important;
    }

    .label{
      width: 30%;
      margin-left: 35%;
      text-align: center;
      background-color: $textColor-1;
    }
  }
  .backBox{
    height: 50px;
    right: 10px;
    top: 10px;
    //position: absolute;

    .back{
      color: white;
      background: $btnPrimaryColor;
    }
  }
}