@import "../const";

.FormBox {
  height:max-content;
  min-width: 450px;
  width: 450px;
  padding: 25px;
  line-height: 1.2;
  margin: 25px auto 0;
  border-radius: 15px;
  background: #263238;
  box-shadow: 0 7px 20px 5px rgba(50, 50, 50, 0.75);

  div{
    label{
      &::after{
        font-size: 13px;
        margin: -.3em 0 0 .3em;
        content: '*';
        color: red !important;
      }
    }
  }

  .above{
    width: 100%;
    text-align: center;
  }
  .fileField{
    width: 100%;
    opacity: 0;
    display: none;
  }
  .Form{
    input[type=file] {
      top: 10px;
      width: 100%;
      height: 100%;
      z-index: 10;
      position: absolute;
      opacity: 0;
    }
    label{
      color: $textColor-1 !important;
    }
    .field{
      & label {
        color: white;
      }
    }
    .age {
      height: 40px;
    }
    .male{
      background:rgba(33,133,208,0.5) !important;
      &:focus{
        background: #2185d0!important;
      }
    }
    .female{
      background: rgba(224,57,151,.5)  !important;
      &:focus{
        .or{
          display: none;
        }
        background: rgba(224,57,151,1) !important;
      }
    }
    .gender {
      height: 30px;
      width: 90px;
      z-index: 1;
      margin-top: 5px;
      left: 10px;
      font-size: 10px;

      .or{
        margin-bottom: 8px;
        z-index: 0.5;
      }

      .selects{
        position: relative;
        width: 70%;
        left: 10px;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
    .two {
      position: relative;
      bottom: 7px;
      margin: 0;
    }
    .ui .buttons {
      position: relative;
    }
    .no-required{
      position: relative;
      bottom: 8px;
    }
    .no-required label:after{
      content: none;
      color: transparent;
    }
    .middle{
      position: relative;
    }
    .buttonBox {
      position: relative;
      .dowLand {
        color: darkorange;
        z-index: 5;
        position: relative;
        top: 15px;
        margin-bottom: 30px;
      }
    }
  }
  .selectAvatar{
    width: 100%;
    background: transparent;
    color: transparent;
    margin-top: 1%;
    position: relative;
    .photoLabelRequred{
      position: absolute;
      left: 0;
      color: $textColor-1;
      &::after{
        margin: -.3em 0 0 .3em;
        font-size: 13px;
        content: '*';
        color: red !important;
      }
    }
  }
  .mailBox{
    .label{
      width: 100%;
    }
  }
  .purle{
    background: #833668;
  }
  .buttonBox {
    width: 105%;
    right: 3%;
    position: relative;
    .dowLand{
      width: 100%;
      color: $textColor-1;
      z-index: 5;
      position: relative;
      top: 10px;
      margin-bottom: 30px;
    }
    input[type=file] {
      top: 15px;
      width: 100%;
      height: 100%;
      z-index: 10;
      position: absolute;
      opacity: 0;
    }
  }
  .Submit{
    position: relative;
    margin-bottom: 0;
  }
}

.wrapperFile{
  position: relative;

  form, input{
    opacity: 0 !important;
  }
}

.form-wrapper{
  width: 100%;
}

.ModalSuccessReg{
  font-size: 2.2rem !important;
  font-family: Georgia, SansSerif;
  color: black;
  font-weight: bold;
  strong{
    color: $textColor-1;
    font-weight: bold;
    margin-left: 25px;
  }
}