$color_success: 0.5;
$accent-color: #263238;
$maleAccentColor: rgba(33,133,208,0.5);
$femaleAccentColor: rgb(255, 0, 178);
$secondColor: #dd4b39;
$otherColor: rgba(250, 186, 10, 0.59);
$text-color: white;
$blackOpacity: rgba(38, 50, 56, .9);
$testColor: #9cc7c2;
$orangeColor:  #e2ab54;