@import "const";

.Header {
  min-height: 50px;
  display: flex;
  background-color: $accentColorMain;

  .headerContainer {
    display: flex;
    color: $text-color;
    font-family: Lato, sans-serif;
    justify-content: space-between;

    .regBox {
      position: relative;

      .btnReg {
        height: 75%;
        margin-top: 5px;
      }
      .LinkReg {
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
      }
    }
    .homeBox{
      position: relative;

      .btnHome {
        height: 75%;
        margin-top: 5px;
        color: white;
        background-color: $btnPrimaryColor;
      }
      .LinkHome {
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
      }
    }
    .btnExit{
      color: white !important;
      height: 75%;
      margin-top: 5px;
      background-color: $btnPrimaryColor !important;
    }
  }
  .lang-box  {
    top: 15px;
    right: 25px;
    position: absolute;

    .lang {
      color: $text-color;
      font-size: 1rem;
      border-radius: 50%;
      background-color: transparent;

      .ui.button:active{
        background: none !important;
      }

    }
    .ui .menu > .header {
      text-transform: none;
    }
  }
  .logoReact {
    button {
      border: 0;
      width: 45px;
      height: 45px;
      cursor: pointer;
      position: relative;
      background: transparent;
      transition-delay: 100ms;
      transform: scale(0.9, 0.9);
      transition: all 200ms cubic-bezier(.61, .01, .42, 1);
      &:focus{
        outline-color: transparent !important;
      }

      div {
        bottom: 18px;
        right: 10px;
        height: 9px;
        width: 25px;
        display: block;
        position: absolute;
        border: 1.5px solid $text-color;
        border-radius: 50%;
        animation: atom 300ms linear 1;
        transition: all 300ms cubic-bezier(.61, .01, .42, 1);

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            transform: rotate(-60deg * $i)
          }
        }
        &:nth-child(2):before {
          width: 3px;
          height: 3px;
          opacity: 1;
          content: '';
          display: block;
          position: relative;
          border-radius: 50%;
          border: 2px solid $text-color;
          animation: ball 1.5s linear infinite;
        }
      }
    }

    @keyframes ball {
      0% {
        left: -20%;
        top: 10%;
      }
      10% {
        left: 10%;
        top: -35%;
      }
      25% {
        left: 45%;
        top: -50%;
      }
      40% {
        left: 80%;
        top: -20%;
      }
      50% {
        left: 98%;
        top: 18%;
      }
      60% {
        left: 80%;
        top: 50%;
      }
      75% {
        left: 45%;
        top: 80%;
      }
      90% {
        left: 0;
        top: 60%;
      }
      100% {
        left: -20%;
        top: 10%;
      }
    }
  }
}
