@import "const";
@import "header";
@import "content/content";
@import "content/aside";
@import "content/form";
@import "footer";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: sandybrown;

}


