@import "const";
@import "header";
@import "content/content";
@import "content/aside";
@import "content/form";
@import "contentRouts/account";
@import "contentRouts/friends";
@import "contentRouts/viewUser";
@import "contentRouts/searchPeople";
@import "footer";

@import url('https://fonts.googleapis.com/css?family=Headland+One');

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bacgraundColor;
  font-family: 'Headland One', Georgia, SansSerif;
}


